body {
    --bs-body-font-family: 'Manrope', var(--bs-font-sans-serif);
    --bs-primary: #FFD15B;
    --secondary-font: 'Anton', sans-serif;
    --secondary-color: #FFD15B;
    --secondary-color-darken10: #ffc738;
    --light-grey: #7A7A7A;
    --white-hover: #fafafa;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.logo-img {
    height: 25px;
}

.hero-background {
    background: no-repeat center center url('../assets/images/hero-from-figma.png');
    background-size: cover;
    height: 667px; /* to remove after inner component have there height and padding / margin, replace with padding ? */
    /*padding: 0;*/
}

.hero-image {
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-title {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.main-search-input {
    height: 72px;
}

.main-search-button {
    height: 52px;
    width: 52px;
    stroke: #FFFFFF;
}

.main-search-button:hover {
    stroke: #000000;
}

.main-background {
    background: #ededed
}

.card-title {
    font-family: var(--secondary-font);
}

.recipe-card-img {
    height: 253px;
}

.secondary-bg-color {
    background-color: var(--secondary-color) !important;
}

.options {
    max-height: 250px;
}

.tag-close-button {
    height: 6px;
    width: 6px;
}

.btn {
    --bs-btn-border-width: 0;
    padding: 1rem 5rem 1rem 1rem;
    --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.btn-primary {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-hover-color: unset;
    --bs-btn-hover-bg: var(--white-hover);
    --bs-btn-active-bg: var(--bs-btn-bg);
    --bs-btn-active-color: var(--bs-btn-color);
}

.btn-secondary {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--secondary-color);
    --bs-btn-hover-color: unset;
    --bs-btn-hover-bg: var(--secondary-color-darken10);
    --bs-btn-active-bg: var(--bs-btn-bg);
    --bs-btn-active-color: var(--bs-btn-color);
}

.recipes-counter-container {
    font-family: var(--secondary-font);
    font-size: 21px;
}

.dropdown-menu {
    --bs-dropdown-link-active-color: black;
    --bs-dropdown-link-active-bg: var(--secondary-color);
    --bs-dropdown-border-width: 0;
    font-size: 14px;
}

.dropdown-menu .form-control {
    font-size: 14px;
}

.dropdown-filter-input svg {
    height: 14px;
    width: 14px;
    stroke: var(--light-grey);
}

.dropdown-item.active:hover {
    font-weight: 700;
}

.active-options .dropdown-item.active:last-child {
    margin-bottom: 15px;
}
